* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1300px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

html {
  font-size: 10px;
}

body {
  font-family: "Play", "Noto Sans KR", sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --main-color: #1a978e;
}

body.open #header .btnAll span:nth-child(1) {
  top: 49px;
}

body.open #header .btnAll span:nth-child(2) {
  left: -50px;
  opacity: 0;
}

body.open #header .btnAll span:nth-child(3) {
  top: 49px;
}

#header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#header.hover #logo span.color {
  display: block;
}

#header.hover #logo span.white {
  display: none;
}

#header.hover #gnb {
  background-color: #fff;
}

#header.hover #gnb .list > li:hover .depth01 {
  color: var(--main-color);
}

#header.hover #gnb .list > li .depth01 {
  color: #666;
}

#header.hover .language {
  color: #666;
}

#header.hover .language > a {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#header.hover .btnAll span {
  background-color: #666;
}

#header #logo {
  width: 200px;
  height: 100px;
  padding: 24px 0;
  position: absolute;
  left: 45px;
}

#header #logo span {
  position: absolute;
  width: 172px;
}

#header #logo span.color {
  display: none;
}

#header #logo span a {
  display: block;
}

#header #logo span a img {
  width: 100%;
}

#header #gnb {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#header #gnb .list {
  text-align: center;
}

#header #gnb .list > li {
  display: inline-block;
  vertical-align: top;
}

#header #gnb .list > li:hover .depth01:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#header #gnb .list > li:hover .depth02 {
  display: block;
}

#header #gnb .list > li .depth01 {
  display: block;
  padding: 0 25px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  height: 100px;
  line-height: 100px;
  position: relative;
}

#header #gnb .list > li .depth01:after {
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -1px;
  background-color: var(--main-color);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#header #gnb .list > li .depth02 {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  background-color: #f7f7f7;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#header #gnb .list > li .depth02 li {
  display: inline-block;
  padding: 0 60px;
}

#header #gnb .list > li .depth02 li:last-child a:before {
  display: none;
}

#header #gnb .list > li .depth02 li a {
  display: block;
  font-size: 1.7rem;
  line-height: 75px;
  color: #535353;
  position: relative;
}

#header #gnb .list > li .depth02 li a:before {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  background: url("../images/layout/iconGnb.png") no-repeat 50%;
  position: absolute;
  right: -80px;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

#header #gnb .list > li .depth02 li:hover a {
  color: var(--main-color);
}

#header .language {
  position: absolute;
  right: 100px;
  top: 0;
  width: 200px;
  color: #fff;
}

#header .language > a {
  display: block;
  width: 100%;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

#header .language > a strong {
  height: 100px;
  line-height: 100px;
  padding-right: 15px;
  font-size: 1.4rem;
  font-weight: 400;
}

#header .language > a i {
  font-size: 1.6rem;
}

#header .language ul {
  display: none;
  width: 200px;
  padding: 20px 0;
  text-align: center;
  background-color: #0c1015;
}

#header .language ul li {
  padding-bottom: 8px;
  color: #7d8690;
  font-size: 1.6rem;
}

#header .language ul li.selected {
  color: #fff;
}

#header .language.click > a {
  background-color: #0c1015;
  border-left: none;
  border-right: none;
}

#header .language.click > a i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#header .language.click > a:after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  left: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.3);
}

#header .language.click ul {
  display: block;
}

#header .btnAll {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  outline: none;
}

#header .btnAll span {
  display: block;
  width: 30px;
  height: 1px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}

#header .btnAll span:nth-child(1) {
  top: 39px;
}

#header .btnAll span:nth-child(2) {
  top: 49px;
}

#header .btnAll span:nth-child(3) {
  top: 59px;
}

#footer {
  position: relative;
  background-color: #0c1015;
  color: #fff;
  padding: 85px 50px;
}

#footer .list > li {
  width: 14%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}

#footer .list > li ul li {
  margin-top: 15px;
  opacity: 0.5;
  font-size: 1.5rem;
  font-weight: 400;
}

#footer .info {
  width: 28%;
  position: absolute;
  right: 50px;
  top: 85px;
  padding-left: 50px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

#footer .info address {
  font-size: 1.5rem;
  line-height: 25px;
  opacity: 0.5;
}

#footer .info address span {
  display: block;
  opacity: 0.4;
  padding: 20px 0;
}

#footer .info .more {
  display: inline-block;
  width: 35%;
  height: 50px;
  line-height: 50px;
  font-size: 1.5rem;
  text-indent: 20px;
  opacity: 0.5;
  background-color: #1a1e23;
  position: relative;
  margin-right: 15px;
}

#footer .info .more i {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
